@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --white-color: #fff;
  --red-color: #ff6b6b;
  --grey-color: #707070;
  --grey-color-light: #aaa;
}
body {
  transition: all 0.5s ease;
  background-color: #ef987b;
}
body.dark {
  background-color: #333;
}
body.dark {
  --white-color: #333;
  --red-color: #fff;
  --grey-color: #f2f2f2;
  --grey-color-light: #aaa;
}
/*----------*/

/*Alert box*/
.alert {
  position: fixed;
  left: 50%;
  transform: translate(-60%, -200%);
  width: 315px;
  height: auto;
  padding: 10px;
  margin: 30px;
  line-height: 1.8;
  border-radius: 5px;
  cursor: hand;
  cursor: pointer;
  font-family: sans-serif;
  font-weight: 400;
}

.card {
  max-width: 94rem;
  margin-left: 300px;
  margin-top: 25px;
  padding: 20px 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.card-header {
  text-align: center;
}

.alertCheckbox {
  display: none;
}

:checked + .alert {
  display: none;
}

.alertText {
  display: table;
  margin: 0 auto;
  text-align: center;
  font-size: 16px;
}

.alertClose {
  float: right;
  padding-top: 5px;
  font-size: 10px;
}

.clear {
  clear: both;
}

.error {
  background-color: #fee;
  border: 1px solid #edd;
  color: #a66;
}
/*End Alert box*/


/*-------------------*/

/**********Home************/
/* navbar */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  background-color: var(--white-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 40px;
  z-index: 1000;
  box-shadow: 0 0 2px var(--grey-color-light);
}
.logo_item {
  display: flex;
  align-items: center;
  column-gap: 10px;
  font-size: 22px;
  font-weight: 500;
  color: var(--red-color);
}
.navbar img {
  width: 35px;
  height: 35px;
  object-fit: cover;
  border-radius: 50%;
}
.navbar_content {
  display: flex;
  align-items: center;
  column-gap: 25px;
}
.navbar-icon {
  cursor: pointer;
  font-size: 20px;
  color: var(--grey-color);
}

.btn-custom-color {
  background-color: var(--red-color); /* Warna yang diinginkan */
}

/* sidebar */
.sidebar {
  background-color: antiquewhite;
  width: 240px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  padding: 80px 20px;
  z-index: 100;
  overflow-y: scroll;
  box-shadow: 0 0 1px var(--grey-color-light);
  transition: all 0.5s ease;
}
.sidebar::-webkit-scrollbar {
  display: none;
}
.menu_content {
  position: relative;
}

@media screen and (max-width: 992px) {
  .sidebar {
    width: 200px; /* Ubah lebar sidebar untuk layar tablet */
    /* Aturan lainnya */
  }
}



.menu_title {
  margin: 15px 0;
  padding: 0 20px;
  font-size: 18px;
}
.sidebar.close .menu_title {
  padding: 6px 30px;
}
.menu_title::before {
  color: var(--grey-color);
  white-space: nowrap;
}
.menu_dashboard::before {
  content: "Dashboard";
}
.menu_editor::before {
  content: "Editor";
}
.menu_setting::before {
  content: "Setting";
}
.menu_items {
  padding: 0;
  list-style: none;
}
.navlink_icon {
  position: relative;
  font-size: 22px;
  min-width: 50px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 6px;
}
.navlink_icon::before {
  content: "";
  position: absolute;
  height: 100%;
  width: calc(100% + 100px);
  left: -20px;
}
.navlink_icon:hover {
  background: var(--red-color);
}
.sidebar .nav_link {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 4px 15px;
  border-radius: 8px;
  text-decoration: none;
  color: var(--grey-color);
  white-space: nowrap;
}
.nav_link:hover {
  color: var(--white-color);
  background: var(--red-color);
}
@media screen and (max-width: 768px) {
  #sidebarOpen {
    font-size: 25px;
    display: block;
    margin-right: 10px;
    cursor: pointer;
    color: var(--grey-color);
  }
  .sidebar.close {
    left: -100%;
  }
  .sidebar.close .bottom_content {
    left: -100%;
  }
}

.form-check-input:checked {
  background-color: #ff6b6b; /* Warna yang diinginkan saat dipilih */
  border-color: #ff6b6b; /* Warna border saat dipilih */
}

.form-check-input:checked:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 107, 107, 0.25); /* Efek shadow saat dipilih */
}

.container-IDE {
  background-color: #ef987b;
}

.badanUsaha {
  background-color: #ef987b;
}


.jvupfL {

}

/* Animasi pada Navbar saat di-hover */
.navbar-item:hover {
  transform: translateY(-3px);
  transition: transform 0.3s ease-in-out;
}

/* Animasi pada dropdown saat dibuka */
.dropdown-menu {
  animation: fadeInDown 0.5s ease forwards;
  display: none;
  opacity: 0;
}

@keyframes fadeInDown {
  from {
    transform: translateY(-10px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.css-1xc3v61-indicatorContainer {
  color: #333;
}

/* login */




#LoginCard {
  background: #faebd7;
  border-radius: 8px;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
  height: 410px;
  margin: 6rem auto 8.1rem auto;
  width: 329px;
}
#cardContent {
  padding: 12px 44px;
}
#login-card-title{
  font-family: "Raleway Thin", sans-serif;
  letter-spacing: 4px;
  padding-bottom: 23px;
  padding-top: 13px;
  text-align: center;
}
#signup {
  color: #fd9043;
  font-family: "Raleway", sans-serif;
  font-size: 10pt;
  margin-top: 16px;
  text-align: center;
}
#login-submit-btn{
  background: -webkit-linear-gradient(right, #fd8f42, #f9baba);
  border: none;
  border-radius: 21px;
  box-shadow: 0px 1px 8px #c62e14;
  cursor: pointer;
  color: white;
  font-family: "Raleway SemiBold", sans-serif;
  height: 42.3px;
  margin: 0 auto;
  margin-top: 47px;
  transition: 0.25s;
  width: 153px;
}
#login-submit-btn:hover {
  box-shadow: 0px 1px 18px #950808;
}
.login-form {
  align-items: left;
  display: flex;
  flex-direction: column;
}
.login-form-border {
  background: -webkit-linear-gradient(right, #fd8f42, #f9baba);
  height: 1px;
  width: 100%;
}
.login-form-content {
  background: #faebd7;
  border: none;
  outline: none;
  padding-top: 14px;
}

.login-underline-title {
  background: -webkit-linear-gradient(right, #fd8f42, #f9baba);
  height: 2px;
  margin: .2rem auto 0 auto;
  width: 80%
}

.login {
  background: -webkit-linear-gradient(right, #fd8f42, #f9baba);
}

.card-ide {
  background-color: antiquewhite;
} 

.nav-custom-color {
  background-color: antiquewhite;
}

.border-ide {
  border-style: groove;
  border-color: #afa28f6d;
  border-width: medium;
}

.centered-radio {
  margin-left: 80px;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh; /* Optional, for full-height centering */
}

